<<<<<<< HEAD:public/login_page/style.css
 body {
=======
body {
>>>>>>> 1a72b5411db64bd573787f64db64876dd9789d99:public/css/login.css
      font-family: Arial, sans-serif;
      background: #e6f4ea;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url('/images/background.jpg');
      background-size: cover;
      background-position: center;
      
    }
    .login-box {
      background: #fff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 300px;
      
      
    }
    h2{text-align:center;  color: #64c769; }
    input { width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 6px; }
    button { width: 100%; padding: 12px; background: #2e7d32; color: white; border: none; border-radius: 6px; cursor: pointer; }
    button:hover { background: #1b5e20; }